@model List<OnlineShop.Models.DBModels.Product>

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="container">
    <h1>Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th> <!-- Для кнопок "+" и "-" -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Description</td>
                    <td>@item.Cost.ToString("0.00") &#8381;</td>
                    <!-- Здесь вы можете добавить поля для отображения количества товара и кнопок "+" и "-" -->
                    <td>
                        <!-- Указать кол-во товара->
                    </td>
                    <td>
                        <!-- Кнопка "+" для увеличения количества товара -->
                        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-primary">+</button>
                        </form>
                    </td>
                    <td>
                        <!-- Кнопка "-" для уменьшения количества товара -->
                        <form asp-controller="ShoppingCart" asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
